In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("data/run4moreProd.activities.csv")

In [13]:
df["date"] = pd.to_datetime(df["createdAt"]).dt.date

In [14]:
df.head()

,_id,distance,pace.hours,pace.minutes,pace.seconds,points,time.hours,time.minutes,time.seconds,user_id,createdAt,type,date
0,62873d1f181a6d5adf0f62b2,0.17,0,14,39,17,0,2,33,6206e062fb2d16fd06802520,2022-05-20T07:02:55.295Z,walk-run,2022-05-20
1,62873d8e181a6d5adf0f62c2,4.10,0,13,19,410,0,54,41,6251c082520daa3cd653d214,2022-05-20T07:04:46.043Z,walk-run,2022-05-20
2,62874060181a6d5adf0f62f0,0.15,0,17,32,15,0,2,40,6206e062fb2d16fd06802520,2022-05-20T07:16:48.452Z,walk-run,2022-05-20
3,628740a3181a6d5adf0f62fd,0.00,0,0,0,0,0,0,59,6206e062fb2d16fd06802520,2022-05-20T07:17:55.980Z,walk-run,2022-05-20
4,62874460181a6d5adf0f6318,0.54,0,10,2,54,0,5,29,6206e062fb2d16fd06802520,2022-05-20T07:33:52.419Z,walk-run,2022-05-20

In [15]:
df = df.drop("_id", axis=1)

In [6]:
date = df.pop("date")

In [7]:
df.insert(loc=0, column="date", value=date)

In [8]:
df.head()

,date,distance,pace.hours,pace.minutes,pace.seconds,points,time.hours,time.minutes,time.seconds,user_id,createdAt,type
0,2022-05-20,0.17,0,14,39,17,0,2,33,6206e062fb2d16fd06802520,2022-05-20T07:02:55.295Z,walk-run
1,2022-05-20,4.10,0,13,19,410,0,54,41,6251c082520daa3cd653d214,2022-05-20T07:04:46.043Z,walk-run
2,2022-05-20,0.15,0,17,32,15,0,2,40,6206e062fb2d16fd06802520,2022-05-20T07:16:48.452Z,walk-run
3,2022-05-20,0.00,0,0,0,0,0,0,59,6206e062fb2d16fd06802520,2022-05-20T07:17:55.980Z,walk-run
4,2022-05-20,0.54,0,10,2,54,0,5,29,6206e062fb2d16fd06802520,2022-05-20T07:33:52.419Z,walk-run

In [9]:
df_by_date = df.groupby("date").sum()#.reset_index()
df_by_date.head()

,distance,pace.hours,pace.minutes,pace.seconds,points,time.hours,time.minutes,time.seconds,user_id,createdAt,type
date,,,,,,,,,,,
2022-05-20,176.08,0,360,946,17608,9,530,748,6206e062fb2d16fd068025206251c082520daa3cd653d2...,2022-05-20T07:02:55.295Z2022-05-20T07:04:46.04...,walk-runwalk-runwalk-runwalk-runwalk-runwalk-r...
2022-05-21,156.81,0,336,643,15681,31,444,646,6206e062fb2d16fd068025206281c4e0d34af571d8acb5...,2022-05-21T01:53:35.219Z2022-05-21T04:51:47.08...,walk-runwalk-runwalk-runwalk-runwalk-runwalk-r...
2022-05-22,207.69,0,391,815,20769,42,646,960,6206e062fb2d16fd068025206281c4e0d34af571d8acb5...,2022-05-22T06:36:14.731Z2022-05-22T06:51:19.84...,walk-runwalk-runwalk-runwalk-runwalk-runwalk-r...
2022-05-23,34.08,0,280,468,3408,3,289,507,620b5293fb2d16fd06802a61620e6928fb2d16fd06802c...,2022-05-23T05:14:38.596Z2022-05-23T06:11:33.96...,walk-runwalk-runwalk-runwalk-runwalk-runwalk-r...
2022-05-24,408.67,0,597,1191,40866,60,1178,1372,620b5293fb2d16fd06802a616206e062fb2d16fd068025...,2022-05-24T04:31:12.733Z2022-05-24T05:24:37.72...,walk-runwalk-runwalk-runwalk-runwalk-runwalk-r...

In [10]:
df_acts = df.groupby("date").size().to_frame(name="ativities").reset_index()
df_acts.head()

         date  ativities
0  2022-05-20         41
1  2022-05-21         27
2  2022-05-22         29
3  2022-05-23         18
4  2022-05-24         50

In [103]:
df_users = df.groupby("date")["user_id"].nunique().reset_index()
df_users.rename(columns={"user_id": "users"}, inplace=True)
df_users.head()

         date  users
0  2022-05-20     18
1  2022-05-21     16
2  2022-05-22     15
3  2022-05-23     10
4  2022-05-24     29